@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap');

body{
  font-family: 'Playfair Display', serif;
  background-color: #ebebeb;
}
html {
  scroll-behavior: smooth;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(25, 98%, 35%, 0.2);
  }
  button:hover {
    background-color: hsla(25, 98%, 15%, 0.4);
    transition: 0.5s;
  }
}

@media (min-width: 1024px) {
  body {

  }

}
